<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Sample</title>
</head>
<body>
    <div id="app">
        <!-- システム修飾キー v-onの省略記法-->
        <div @click.shift="showAlertToClearText">While pushing shift Click Me! </div>
        <p>{{ message2 }}</p>
        <!-- 修飾子は複数指定してOR条件で繋げることができる -->
        <input type="text" v-on:keyup.esc.space.up="clearText" v-model="message2">
        <p>{{ dateTime }}</p>
        <button v-on:click.once=" showDateTime ">showDateTime(once)</button>
        <p>
            {{ counter }}
        </p>
        <p>{{ message2 }}</p>
        <button v-on:click=" incrementCount($event, 'message!') ">click!</button>
        <!-- v-showはDisplayプロパティによる切り替え、高い初期描画コスト、v-elseなど使用不可 -->
        <p v-show="toggle">
            v-showを使った表示非表示
        </p>
        <p>色：{{ color }}</p>
        <!-- v-ifはDOM削除、高い切り替えコスト -->
        <p v-if=" color === 'red'">
            止まれ
        </p>
        <p v-else-if=" color === 'yellow'">
            まぁ、止まっとけ
        </p>
        <p v-else-if=" color === 'blue'">
            早くいけよ！
        </p>
        <p v-else>
            信号機ちゃうやん。何色やねん
        </p>
        <p v-bind:style="{ color: color, fontSize: fontSize + 'px' }">
            インラインスタイルのバインディング
         </p>
        <p v-bind:class="isLarge? largeClass: classObject">
            真偽値に応じてクラスを切り替える
         </p>
        <p v-bind:class="classObject">
            オブジェクトにクラスを格納して渡す
         </p>
        <p v-bind:class="[largeClass, 'text-danger']">
           配列形式でクラスを渡す
        </p>
        <!-- v-bind:classはプレーンなclassとも共存できる -->
        <p>
            Hello <span v-bind:class="{large: isLarge, 'text-danger': hasError}"
            class="bg-gray text-blue ">World</span>
        </p>
        <ul>
            <li v-for="color in colors">{{ color.name }}</li>
        </ul>
        <p>
            lastName:<input type="text" v-model="lastName"/>
        </p>
        <p>
            firstName:<input type="text" v-model="firstName"/>
        </p>
        <p>
            fullName: {{ fullName }}
        </p>
        <p>
            <input type="text" v-model="km"/>km
        </p>
        <p>
            <input type="text" v-model="m"/>m
        </p>
        <p>
            <input type="text" v-model="mm"/>mm
        </p>
        <pre>{{ message }}</pre>
        <p>
            base price <input type="text" v-model="basePrice"/>
        </p>
        <p>
            tax include price <input type="text" v-model="taxIncludedPrice"/>
        </p>
        <p>{{ reversedText }}</p>
        <hello-world-component></hello-world-component>
        <p>
            <!-- <input type="text" v-bind:value="message"/> -->
            <input type="text" v-model="message"/>
            <p>{{ $data.message }}</p>
        </p>
        <button v-on:click="onclick">
            Click Here
        </button>
        <p>
            {{ now }}
        </p>
        <p v-show="toggle">
            {{ message }}    
        </p>
        <p v-once> 
            {{ message }}    
        </p>
        <p v-pre> 
            {{ message }}    
        </p>
        <p> 
            {{ number * 100 }}    
        </p>
        <p> 
            {{ isOk ? "OKです" : "OKじゃねえよ！" }}    
        </p>
        <p> 
            USD : ${{ jpyPrice | jpyToUsd | numberFormat }}    
        </p>
        <p>
            {{ longText | readMore(20, "...")}}
        </p>
        <!-- <a v-bind:href="url" target="_blank">read more</a> -->
        <a :href="url" target="_blank">read more</a>
        <p v-html="html"></p> 
        <p v-text="message "></p>
        <button v-on:click="clickHandler">Click!</button>
        <p>
            {{ count }}
        </p>
        <p>
            {{ user.lastName + user.firstName}}  :  {{ user.age }} 才
        </p>
        <p>
            {{ colors[0] }}
        </p>
        <ol>
            <li v-for="color in colors">{{ color }}</li>
        </ol>
        <ul>
            <li v-for="(v, k) in user">{{ k }} : {{ v }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="../js/sample.js"></script>
    <link rel="stylesheet" href="../css/sample.css">
</body>
</html>